<html>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

<body >
<header>
<ul>
<li><a href="#" >Home</a></li>
<li><a href="#" >Admin</a></li>
<li><a href="#" >Contact</a></li>
</ul>
</header>
 <div class="reg"> <a routerLink="/register">Register</a></div>
  <div class="login"><a routerLink="/login">Login</a></div>

<!---<div >
  <button type=submit (ngSubmit)="onClick()">Register</button></div>-->
<p>Mileset Software Tech</p>
<!---<div class="wave"></div>-->
</body>
</html>