<html>

<head>
<meta name="viewport" content="width=device-width,intial-scale=1,user-scalable=no,minimum-scale=1, maximum-scale=1" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
   </button>
   <a class="navbar-brand" href="#" style="font-size:20px;">MILESET SOFTWARE</a>
 
   <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
     <ul class="navbar-nav mr-auto mt-2 ">
       <li class="nav-item ">
         <a class="nav-link" href="#" style="font-size:20px;">Home</a>
       </li>
       <li class="nav-item active">
         <a class="nav-link" href="#" style="font-size:20px;">Login<span class="sr-only">(current)</span></a>
       </li>
       <li class="nav-item">
        <a class="nav-link disabled" href="#" style="font-size:20px;">Report</a>
      </li>
       <li class="nav-item">
         <a class="nav-link disabled" href="#" style="font-size:20px;">About</a>
       </li>
     </ul>
     <form class="form-inline my-2 my-lg-0">
       <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
       <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="font-size:20px;">Search</button>
     </form>
   </div>
 </nav>




<form (ngSubmit)="onSubmit(vehicalForm)" #vehicalForm="ngForm">

 <button mat-raised-button  color="primary" style="margin-top:40px"><a routerLink="/map">Map</a></button>
<div class="sd" style="align-items:center;justify-content:center; margin-top: 30px;text-align:center;">
 <div class="form-group" >
      <p>VehicalNo</p>
   <!-- <input  type="text" ngModel name="vehicalno" #vehicalno matInput placeholder="VehicalNo" required> 
      <div class="text-danger" *ngIf="vehicalno.invalid && (vehicalno.dirty || vehicalno.touched)">
       <label> *Vehical No is required</label>
      </div>
      &nbsp; &nbsp; -->
      <input  type="text" ngModel name="vehicalno" #vehicalno matInput placeholder="VehicalNo" required>
    
      <button mat-raised-button  type="submit" color="primary">Add More</button><br>
        <div class="text-danger" >
       <label> *Vehical No is required</label>
      </div>
		 <button mat-raised-button  type="submit" color="primary">Submit</button>
	  </div>
    <button mat-raised-button (click)="logout()" color="primary">Logout</button>
  </div>
</form>
</html>